<html xmlns:th="https://www.thymeleaf.org">
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/upload">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input type="file" name="file"/></td>
            </tr>

            <tr>
                <td>Text To Append:</td>
                <td><input type="text" name="textAppend"/>
                <td>From Top:</td>
                <td><input type="text" name="xText" value="50" size="10"/></td>
                <td>From Left:</td>
                <td><input type="text" name="yText" value="50" size="10"/>
            </tr>
            <tr>
                <td>Image To Append:</td>
                <td><input type="file" name="fileImage"/></td>
                <td>From Top:</td>
                <td><input type="text" name="xImage" value="50" size="10"/></td>
                <td>From Left:</td>
                <td><input type="text" name="yImage" value="50" size="10"/>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
</div>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}"/>
        </li>
    </ul>
</div>

</body>
</html>